.post-entry.first-entry {
    background-color: #ffffff !important; /* 白色背景 */
    padding: 0px 20px;    /* 上下10px，左右20px */
    border-radius: 12px;   /* 圆角 */
    box-sizing: border-box; /* 保证 padding 不影响布局 */
}